<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Iterator.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>algo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>con.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>cont.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>cpp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>functors.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>io.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>newcoder01.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>nowcoder.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9D2F172F1DD02CAF00CA617F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9D2F176B1DD0A2B600CA617F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9D2F177A1DD0B77300CA617F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9D2F179E1DD1C87700CA617F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9D492B0A1DA2343800401573</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9D77D7261DD3269200BB5CDF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9D77D7331DD3334400BB5CDF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9D7D6D201DCD8BA500DCCE70</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9DF455531DCF4F6500CB040A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
